*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


main{
    width: 100%;
    height: 100vh;
    max-height: 950px;
    background-image: url('../img/bg-img.png');
    background-size: cover;
    background-position:  center;
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
        width: 85%;
        height: 95%;
        background: #EEEEEE;
        border: 4px solid #FFFFFF;
        box-shadow: 0px 12px 54px rgba(78, 69, 62, 0.27);
        border-radius: 30px;
        position: relative;
        .sneakers{
            position: absolute;
            margin-top: 70px;
            right: -5%;
            height: 70%;
        }
        .card__menu{
            width: 100%;
            height: 70px;
            display: flex;
            .card__logo{
                height: 100%;
                width: 15%;
                display: flex;
                align-items: center;
                img{
                    padding-left: 20px;
                    width:auto;
                    height: 60px;
                }
            }
            ul{
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;
                li{
                    margin: 0 35px;
                    list-style: none;
                    a{
                        color: #000;
                        text-decoration: none;
                    }
                    .active{
                        text-decoration: underline;
                        font-weight: 600;
                    }
                }
            }
        }

        // card__body
        .card__body{
            width: 67%;
            height: 60%;
            display: flex;
            .card__selctions{
                width: auto;
                height: 130px;
                display: flex;
                justify-content: center;
                margin-top: 30px;
                ul{ 
                    border-left: 1px solid rgb(110, 109, 109);
                    width: 100px;
                    height: 170px;
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: 45%;
                    li{
                        list-style: none;
                        width: 100%;
                        margin-top: 10px;
                        margin-left: 20px;
                        font-size: 22px;
                    }
                }
                ul::before{
                    content: "";
                    width: 2px;
                    background-color: #000;
                    position: absolute;
                    height: 30px;
                }
            }
            .card__text{
                width: 50%;
                margin-left: 60px ;
                h1{
                    margin-top: 20px;
                    font-size: 65px;
                }
                p{
                    margin-top: 10px;
                    font-size: 15px;
                    width: 100%;
                    height: auto;
                    max-height: 65%;
                    overflow: hidden;
                    color: rgb(64, 62, 62);
                }
                .buttons{
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    padding: 20px 0;
                    button{
                        background-color: #2D2B2C;
                        color: #FFFFFF;
                        padding: 8px 18px;
                        border: none;
                        border-radius: 6px;
                    }
                    .salary{
                        font-size: 22px;
                        font-weight: 600;
                        margin-left: 15px;
                    }
                }
            }
            .card__info{
                margin-left: 5%;
                width: 35%;
                height: auto;
                margin-top: 18%;
                h4{
                    width: 100%;
                    margin: 10px 0;
                    color: #2D2B2C;
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }

        // card__foot
        .card__foot{
            width: 100%;
            height: 25%;
            display: flex;
            justify-content: space-between;
            .card__images{
                width: 60%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .item{
                    width: auto;
                    height: 90%;
                    background-color: #FFFFFF;
                    border-radius: 15px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .card__watch{
                width: 20%;
                height: 40%;
                margin-top: 50px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                i{
                    font-size: 50px;
                    color: #2D2B2C;
                }
                h5{
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}